---
layout: index
title: MarianoOG
tagline: Página personal de Mariano Orozco García
css: 
js:
keywords: algoritmos, kichihua, programación, software, IA, machine learning, marianoog
canonical: https://marianoog.github.io
---

<!-- {% include JB/setup %} -->

<!-- Content Area Start -->
<div id="content">

  <div class="header-style-2">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-8">
          <div class="hero-content-v2">
            <h3>Software | Educación <strong><span class="text-primary">Mariano</span> Orozco Garcia</strong></h3>
            <p>{{ site.author.description }}</p>
            <p class="text-center"><a href="https://ona309.com/Podcast" class="page-scroll btn btn-lg btn-default-filled">Escuchar Podcast</a></p>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-4">
          <figure>
            <img src="{{ BASE_PATH }}/assets/images/foto.jpg" alt="Foto de Mariano Orozco Garcia">
          </figure>
        </div>

      </div>
    </div>

  </div>

  <!-- portfolio section 3col -->
  <section id="portfolio">
    <div class="container">
      
      <div class="sub-title">
        <span>Proyectos</span>
      </div>

      <ul class="row portfolio list-unstyled" id="grid">
        
        <li class="col-xs-6 col-md-4 project">
          <figure>
            <div class="hovereffect">
              <img src="{{ BASE_PATH }}/assets/images/portfolio/evolutive.png" alt="Algoritmos Evolutivos para Optimización Multiobjetivo">
              <div class="overlay">
                <div class="icons-link">
                  <a class="left-link" href="https://github.com/MarianoOG/Multi-objectiveOptimizationEvolutiveAlgorithms" target="_blank"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </figure>
          <div class="portfolio block">
            <h5>Algoritmos Evolutivos para Optimización Multiobjetivo</h5>
            <p class="project-description">I programmed NGSA-III algorithm to solve multi-objective problems with constrains. I also programmed some predefined problems from the DTLZ set.</p>
          </div>
        </li>

        <li class="col-xs-6 col-md-4 project">
          <figure>
            <div class="hovereffect">
              <img src="{{ BASE_PATH }}/assets/images/portfolio/privacy.png" alt="Privacidad y Seguridad">
              <div class="overlay">
                <div class="icons-link">
                  <a class="left-link" href="https://github.com/MarianoOG/Lesson-Notes-Secure-and-Private-AI" target="_blank"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </figure>
          <div class="portfolio block">
            <h5>Privacidad y Seguridad</h5>
            <p class="project-description">Notas del curso sobre la privacidad y la seguridad de la inteligencia artificial. Se usa Pytorch en Jupyther Notebooks para describir conceptos como la privacidad diferencial y el aprendizaje federativo.</p>
          </div>
        </li>

        <li class="col-xs-6 col-md-4 project">
          <figure>
            <div class="hovereffect">
              <img src="{{ BASE_PATH }}/assets/images/portfolio/ml.png" alt="Material del curso de Machine Learning">
              <div class="overlay">
                <div class="icons-link">
                  <a class="left-link" href="https://github.com/MarianoOG/MachineLearningCourseMaterial" target="_blank"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </figure>
          <div class="portfolio block">
            <h5>Material del curso de Machine Learning</h5>
            <p class="project-description">Realizado para el centro de investigación en computo para el curso de Machine Learning. Este proyecto contiene un motor de lógica y un par de algoritmos escritos en Lisp.</p>
          </div>
        </li>

      </ul>
    </div>
  </section>
  <!-- End portfolio section 3col -->

  <!-- Podcast Header -->
  <div id="headers">
    <header id="header-style-1">
      <div class="container">
        <div class="header-caption">
          <div class="row">
            <div class="col-md-12 header-content">
              <h3 class="header-title animated fadeInDown">Podcast <span class="text-primary">Algoritmos</span></h3>
              <p class="header-text animated fadeIn">La tecnología que utilizamos cada vez se vuelve más compleja y confusa. Si como a mí te interesa saber más sobre cómo funciona y como está cambiando el mundo en el que vivimos, escucha el podcast algoritmos. En el aprenderemos juntos sobre los algoritmos que utilizan las herramientas digitales, discutiremos los problemas derivados de su uso y las nuevas oportunidades que nos brindan.</p>
              <a href="https://ona309.com/Podcast" class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Escuchar ahora</a>
              <a href="https://github.com/MarianoOG/PodcastAlgoritmos" class="page-scroll btn btn-lg btn-common animated fadeInUp">Leer más <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <!-- Podcast Header End -->

  <div class="mb-60"></div>

  <div class="container">
    <h4 class="sub-title space-left">Pensamientos</h4>
  </div>

  <!-- Posts carousel -->
  <section id="blog">
    <div class="container">                              
      <div id="posts-carousel" class="owl-carousel">
        {% for post in site.posts %}     
          <div class="blog block carousel-post text-center">
            {% if post.img %}           
              <img src="{{ BASE_PATH }}/assets/images/blog/{{ post.img }}" alt="Post image of {{ post.title }}">
            {% endif %}           
            <h5>{{ post.title }}</h5>
            <p>{{ post.excerpt }}</p>
            <a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-common">Leer mas <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        {% endfor %}     
      </div>              
    </div>
  </section>
  <!-- End Posts carousel -->

</div>
<!-- Content area end -->