---
layout: blog
title: Pensamientos | MarianoOG
tagline: Aqui encontrarás pensamientos escritos por Mariano Orozco Garcia.
author: MarianoOG
keywords: pensamientos, Mariano Orozco Garcia, marianoog
canonical: https://marianoog.github.io
---
{% include JB/setup %}

<h1>Pensamientos Recientes</h1>
<div class="mb-40"></div>

{% for post in site.posts limit 3 %}
  <div class="blog-block post-content-area">
   {% if post.img %}	  
      <img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="{{ post.title }} image">
   {% endif %}
    <div class="blog-post">
      <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.tagline }}</p>
      <a class="btn btn-common" href="{{ BASE_PATH }}{{ post.url }}">Read More</a>
    </div>
  </div>
  <div class="mb-40"></div>
{% endfor %}

<h2>Todos los pensamientos</h2>
<div class="mb-40"></div>

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}