---
layout: page
title: Pensamientos | MarianoOG
tagline: Aqui encontrarás pensamientos escritos por Mariano Orozco Garcia.
canonical: https://marianoog.github.io
---
{% include JB/setup %}

<div class="mb-40"></div>
<h1 class="text-center">Pensamientos</h1>
<div class="mb-40"></div>

<section id="blog">
  <div class="container">                              

    <div class="row">
      {% for post in site.posts limit:3 %}
        <div class="col-md-4 mt-4">
          <div class="blog-block post-content-area">
            {% if post.img %}	  
              <img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="{{ post.title }} image">
            {% endif %}
            <div class="blog-post">
              <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
              <p>{{ post.tagline }}</p>
              <div class="text-center">
                <a class="btn btn-common" href="{{ BASE_PATH }}{{ post.url }}">Leer mas</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <ul>
      {% for post in site.posts offset:3 %}
        <li>
          <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
        </li>
      {% endfor %}
    </ul>
    
  </div>

</section>
